#{extends 'layout.html' /}
#{set 'title'}
&{'application.subtilte'} &{'form.fornecedores.title'}
#{/set}
<div>
	<br />
	<div class="txt_titulo_institucional"><strong>&{'form.fornecedores.title'}</strong></div>
	<br />
	<div id="oQueSaoContent" style="padding-left: 1%;padding-right: 1%;">
		<span class="fontGreen1">
			<p>
				<b>Nata da Serra</b> - Latic&iacute;nios produzidos com excelentes ingredientes pela Fazenda Sula, propriet&aacute;ria da marca Nata da Serra.<br />
				Site: <a href="http://www.natadaserra.com.br" target="_blank">www.natadaserra.com.br</a>
			</p>
		</span>
		<br />
		<span class="fontGreen1">
			<p>
				<b>Pil&otilde;es Agro-Ind&uacute;stria</b> - Empresa de produtores de legumes, verduras e frutas org&acirc;nicas, bem como de produtos de soja como tofus, pat&ecirc;s, shoyo e muito mais.<br />
				Site:<a href="http://piloesagro.com.br/" target="_blank">piloesagro.com.br</a>
			</p>
		</span>
		<br />
		<span class="fontGreen1">
			<p>
				<b>Alcides Neves</b> - Pequeno produtor de verduras e legumes, possui <a target="_blank" href="&{'application.static.content'}&{'application.path.public.images'}certificado_alcides_neves.jpeg">certifica&ccedil;&atilde;o de org&acirc;nico</a> e trabalha com a fam&iacute;lia.<br />
			</p>
		</span>
		<br />
		<span class="fontGreen1">
			<p>
				<b>Terra Frutas Org&acirc;nicas</b> - Nil e Luciana produzem frutas org&acirc;nicas h&aacute; mais de 10 anos e fomentam a fruticultura org&acirc;nica, desenvolvendo e promovendo o acesso &agrave;s frutas org&acirc;nicas a um pre&ccedil;o acess&iacute;vel.<br />
				Site: <a href="http://www.terrafrutasorganicas.com/" target="_blank">www.terrafrutasorganicas.com</a>
			</p>
		</span>
		<br />
		<span class="fontGreen1">
			<p>
				<b>P&atilde;o do C&eacute;u</b>- P&atilde;es e bolos especiais feitos com ingredientes org&acirc;nicos. <br />
				Site: <a href="http://www.paoorganico.com.br" target="_blank">www.paoorganico.com.br</a>
			</p>
		</span>
		<br />
		<span class="fontGreen1">
			<p>
				<b>Refazenda</b> - A Refazenda &eacute; a empresa pioneira  na produ&ccedil;&atilde;o de pratos prontos org&acirc;nicos congelados no Brasil.<br />
				Site:<a href="http://www.refazendagrumo.com.br" target="_blank">www.refazendagrumo.com.br</a>
			</p>
		</span>
		<br />
	</div>
	<br />
</div>
<div align="right">
	#{a @Home.index(), class:"fontBrown"}&{'form.button.back'}#{/a}
</div>
<br />