#{extends 'layout.html' /}
#{set 'title'}
&{'application.subtilte'} &{'form.parceiros.title'}
#{/set}
<div>
	<br />
	<div class="txt_titulo_institucional"><strong>&{'form.midia.title'}</strong></div>
	<br />
	<div id="oQueSaoContent" style="padding-left: 1%;padding-right: 1%;">
		<p><span class="fontGreen1"><b>&{'form.midia.folha.1'}</b></span></p>
		<br />
		<p>
			<a href="&{'form.midia.folha.1.link'}" target="_blank" class="defaultLink">
				<img src="&{'application.static.content'}&{'form.midia.folha.1.image'}" border="0" width="444" height="561" />
			</a>
		</p>
		<br />
		<p><span class="fontGreen1"><b>&{'form.midia.diariosp.1'}</b></span></p>
		<br />
		<p>
			<img src="&{'application.static.content'}&{'form.midia.diariosp.1.image'}" border="0" width="444" height="561" />
		</p>
		<br />
		<p><span class="fontGreen1"><b>&{'form.midia.forum.1'}</b></span></p>
		<br />
		<p>
			<img src="&{'application.static.content'}&{'form.midia.forum.1.image'}" border="0" width="444" height="561" />
		</p>
	</div>	
</div>
<br />