#{extends 'layout.html' /}
#{set 'title'}
&{'application.subtilte'} &{'form.oquesao.title'}
#{/set}
<div>
	<br />
	<div class="txt_titulo_institucional"><strong>&{'form.oquesao.title'}</strong></div>
	<br />
	<div id="oQueSaoContent" style="padding-left: 1%;padding-right: 1%;">
		<span class="fontGreen1">&{'form.oquesao.content'}</span><br />
		<span class="fontGreen1">&{'form.oquesao.vantagens.title'}</span><br />
		<span class="fontGreen1">&{'form.oquesao.vantagens.topic1.title'}</span>
		<span class="fontGreen1">&{'form.oquesao.vantagens.topic1'}</span><br />
		<span class="fontGreen1">&{'form.oquesao.vantagens.topic2.title'}</span>
		<span class="fontGreen1">&{'form.oquesao.vantagens.topic2'}</span><br />
		<span class="fontGreen1">&{'form.oquesao.vantagens.topic3.title'}</span>
		<span class="fontGreen1">&{'form.oquesao.vantagens.topic3'}</span><br />
		<span class="fontGreen1">&{'form.oquesao.vantagens.topic4.title'}</span>
		<span class="fontGreen1">&{'form.oquesao.vantagens.topic4'}</span><br />
		<span class="fontGreen1">&{'form.oquesao.vantagens.topic5.title'}</span>
		<span class="fontGreen1">&{'form.oquesao.vantagens.topic5'}</span><br />
		<span class="fontGreen1">&{'form.oquesao.vantagens.topic6.title'}</span>
		<span class="fontGreen1">&{'form.oquesao.vantagens.topic6'}</span><br />
		<span class="fontGreen1">&{'form.oquesao.vantagens.topic7.title'}</span>
		<span class="fontGreen1">&{'form.oquesao.vantagens.topic7'}</span><br />
		<span class="fontGreen1">&{'form.oquesao.vantagens.topic8.title'}</span>
		<span class="fontGreen1">&{'form.oquesao.vantagens.topic8'}</span><br />
		<span class="fontGreen1">&{'form.oquesao.vantagens.topic9.title'}</span>
		<span class="fontGreen1">&{'form.oquesao.vantagens.topic9'}</span><br />
	</div>
</div>
<div align="right">
	#{a @Home.index(), class:"fontBrown"}&{'form.button.back'}#{/a}
</div>
<br />