#{extends 'layout.html' /}
#{set 'title'}
&{'application.subtilte'} &{'form.parceiros.title'}
#{/set}
<div>
	<br />
	<div class="txt_titulo_institucional"><strong>&{'form.parceiros.title'}</strong></div>
	<div id="oQueSaoContent" style="padding-left: 1%;padding-right: 1%;">
	<p>
		<a href="&{'form.parceiros.2.link'}" target="_blank" class="defaultLink">
			<img src="&{'application.static.content'}&{'form.parceiros.2.img'}" border="0" />
		</a>
	</p>
	<p>
		<a href="&{'form.parceiros.3.link'}" target="_blank" class="defaultLink">
			<img src="&{'application.static.content'}&{'form.parceiros.3.img'}" border="0" />
		</a>
	</p>
	<br />
	<p>
		<a href="&{'form.parceiros.1.link'}" target="_blank" class="defaultLink">
			<img src="&{'application.static.content'}&{'form.parceiros.1.img'}" border="0" />
		</a>
	</p>
</div>
<br />