<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="Content-Language" content="pt-br" />
		<meta name="description" content="Vida Saudável Orgânicos, loja online de produtos orgânicos, integrais e naturais." />
		<meta name="author" content="Felipe Guerra" />
		<meta name="title" content="Vida Saudável Orgânicos, alimentos e produtos orgânicos, são paulo, campinas, jundiaí, valinhos, vinhedo" />
		<meta name="keywords" content="alimentos e produtos orgânicos, São Paulo,Vinhedo,Valinhos,Campinas,Jundiaí,Lapa,Pompéia,Vila Leopoldina,São Domingos,Alto de Pinheiros,Pinheiros,Perdizes,Consolação,Bela Vista,Jd. Paulista,Itaim Bibi,Moema,Vila Mariana,Aclimação,Higienópolis,Jaguaré,Butantã,Morumbi,V. Madalena,Alto da Lapa,V. Olímpia,Brooklyn,Saúde,Aeroporto,Paraíso,Jardins,Pirituba,Vila Jaguara,V. Sônia,Campo Belo,Santa Cecília,Ipiranga,Mooca,Cambuci,Liberdade,Jabaquara,V. Romana,Barra Funda" />
	</head>
	<body>
		<table width="800px" cellpadding="0" cellspacing="0" border="0" >
			<tr>
				<td>
					<a href="http://www.vidasaudavelorganicos.com.br">
						<img src="&{'application.static.content'}&{'application.path.public.images'}logo-relatorio.jpg"
								border="0" width="114" height="90" 
								alt="Vida Saudável Orgânicos" />
					</a>
				</td>
			</tr>
			<tr>
				<td colspan="100%" style="padding-left: 2px;">
					<span>Olá ${cliente.nome},</span><br /><br />
					<span>${message.raw()}</span>
					<br /><br />
					<span>Atenciosamente,</span><br />
					<span>Vida Saudável Orgânicos.</span><br />
					<a href="http://www.vidasaudavelorganicos.com.br">www.vidasaudavelorganicos.com.br</a>
				</td>
			</tr>
		</table>
	</body>
</html>
	