<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="Content-Language" content="pt-br" />
		<meta name="description" content="Vida Saudável Orgânicos, loja online de produtos orgânicos, integrais e naturais." />
		<meta name="author" content="Felipe Guerra" />
		<meta name="title" content="Vida Saudável Orgânicos, alimentos e produtos orgânicos, são paulo, campinas, jundiaí, valinhos, vinhedo" />
		<meta name="keywords" content="alimentos e produtos orgânicos, São Paulo,Vinhedo,Valinhos,Campinas,Jundiaí,Lapa,Pompéia,Vila Leopoldina,São Domingos,Alto de Pinheiros,Pinheiros,Perdizes,Consolação,Bela Vista,Jd. Paulista,Itaim Bibi,Moema,Vila Mariana,Aclimação,Higienópolis,Jaguaré,Butantã,Morumbi,V. Madalena,Alto da Lapa,V. Olímpia,Brooklyn,Saúde,Aeroporto,Paraíso,Jardins,Pirituba,Vila Jaguara,V. Sônia,Campo Belo,Santa Cecília,Ipiranga,Mooca,Cambuci,Liberdade,Jabaquara,V. Romana,Barra Funda" />
		<title>&{'application.crm.cupom.desconto.email.subject'}</title>
		<style type="text/css">
			a:link, a:visited, a:hover, a:active {
				text-decoration: none
			}
		</style>
	</head>
	<body style="padding: 0px; margin: 0px; font-family: 'Trebuchet MS', Verdana; font-size: 14px; font-weight: normal;">
		<p>Olá ${cliente.getPrimeiroNome()},</p>
		<div align="center">
			<p>&{'application.crm.cupom.desconto.email.text'}</p>
			<a href="@@{Home.index}?cp_code=${cupomDesconto.codigo}" target="_blank">Clique aqui</a> ou na imagem para utilizar o cupom.
		</div>
		<div align="center">
			<a href="@@{Home.index}?cp_code=${cupomDesconto.codigo}" target="_blank">
			<img src="${fileAbsolutePath}" alt="header-cupom-desconto" />
			</a>
		</div>
		<p align="center">Ref.: ${new Date().format('dd/MM/yyyy HH:mm')} - &{'form.label.codigoProduto'}: <code>${cupomDesconto.codigo}</code></p>
		<p align="center">Se preferir, copie essa URL e cole no navegador: <code>@@{Home.index}?cp_code=${cupomDesconto.codigo}</code></p>
	</body>
</html>
	