<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="Content-Language" content="pt-br" />
		<title>&{'application.subtilte'} &{'form.estoque.report'}</title>
	</head>
	<body style="padding: 0px; margin: 0px;">
		<table width="70%" border="1" cellpadding="0" cellspacing="0">
			<tr>
				<td align="center" colspan="100%">
					<img title="Logo" alt="Logo" src="${staticContent}logo-relatorio.jpg" />
				</td>
			</tr>
			<tr>
				<td align="center" colspan="100%">&{'form.estoque.report'}</td>
			</tr>
			<tr>
				<td align="center">Produto</td>
				<td align="center">Quantidade</td>
				<td align="center">Valor</td>
				<td align="center">Data de Validade</td>
			</tr>
			<tr>
				<td align="left">
					<p>
						${content.raw()}
					</p>
				</td>
			</tr>
		</table>
	</body>
</html>