#{extends 'layout.html' /}
#{set 'title'}
&{'application.subtilte'} Cadastrar Fornecedor
#{/set}

<div class="defaultContentSize">
	<div>
	#{form @Fornecedores.cadastrar(), id:'formCadastroFornecedor', method:'POST'}
	<table width="95%" cellpadding="4" cellspacing="4" border="0" class="fontDefaultBlack">
		<tr>
			<td colspan="4" align="center" class="fontGreen3">&{'form.button.cadastro'}&nbsp;&{'form.fornecedor.title'}</td>
		</tr>
		<tr>
			<td colspan="4" align="center" class="fontGreen3">
				&nbsp;<input type="hidden" name="fornecedor.id" id="fornecedor.id" value="${fornecedor.id}" />
			</td>
		</tr>
		<tr>
			<td width="12%" align="right">
				<span>&{'form.customer.nome'}</span>
			</td>
			<td>
				<input type="text" id="fornecedor.nome" name="fornecedor.nome" value="${fornecedor.nome}" maxlength="180" size="50" class="textBox1" />*
			</td>
			<td width="7%" align="right">
				<span>&{'form.fornecedor.cnpj'}</span>
			</td>
			<td>
				<input type="text" id="fornecedor.cnpj" name="fornecedor.cnpj" value="${fornecedor.cnpj}" maxlength="14" size="20" class="textBox1" />*
			</td>
		</tr>
		<tr>
			<td align="right">&{'form.email'} &{'form.application.comercial'}</td>
			<td align="left">
				<input type="text" class="textBox1" name="fornecedor.emailContato" id="fornecedor.emailContato" size="45" maxlength="300" value="${fornecedor.emailContato}" />*
			</td>
			<td  align="right">&{'form.fornecedor.contato'}</td>
			<td align="left">
				<input type="text" class="textBox1" name="fornecedor.contatoComercial" id="fornecedor.contatoComercial" size="45" maxlength="80" value="${fornecedor.contatoComercial}" />*
			</td>
		</tr>
		<tr>
			<td align="right">&{'form.email'} &{'form.application.vendas'}</td>
			<td align="left">
				<input type="text" class="textBox1" name="fornecedor.emailVendas" id="fornecedor.emailVendas" size="45" maxlength="300" value="${fornecedor.emailVendas}" />*
			</td>
		</tr>
		<!-- Telefone -->
		<tr>
			<td align="right">&{'form.phone.type'}</td>
			<td align="left">
				#{select 'telefoneTipo', items:telefones, valueProperty:'codigo', value:fornecedor.telefones!=null ? codigo : fornecedor.telefones[0].tipo.codigo, class:"select1 fontGreen1"}*
				#{/select}
			</td>
			<td align="right">&{'form.phone'}</td>
			<td align="left">
				<input type="text" class="textBox1" name="fornecedor.telefones[0].prefixo" id="fornecedor.telefones[0].prefixo" 
						size="3" maxlength="2" value="${fornecedor.telefones[0]?.prefixo}" />
				<span>-</span>
				<input type="text" class="textBox1" name="fornecedor.telefones[0].numero" id="fornecedor.telefones[0].numero" 
						size="11" maxlength="9" value="${fornecedor.telefones[0]?.numero}" />*
			</td>
		</tr>
		<tr>
			<td align="right">&{'form.address.complemento'}</td>
			<td colspan="3">
				<textarea rows="5" cols="70" name="fornecedor.informacoesAdicionais" id="fornecedor.informacoesAdicionais">${fornecedor.informacoesAdicionais}</textarea>
			</td>
		</tr>
		<tr>
			<td align="right">&{'form.label.status'}&nbsp;</td>
			<td align="left">
				#{select 'fornecedor.ativo', value:fornecedor.ativo, class:"fontGreen1"}*
					#{option 'true'}Ativo#{/option}
					#{option 'false'}Inativo#{/option}
				#{/select}
			</td>
		</tr>
		<tr>
			<td colspan="4" align="center">
				#{if (params.success!=null)}
				<script type="text/javascript" charset="utf-8">
					alert("&{params.success}");
					window.location = '/fornecedor/all';
				</script>
				#{/if}
				#{else}
					&{'form.campo.obrigatorio'}
				#{/else}
				#{ifErrors}
				<div style="width:300px; height:380px; border-color: red; border:0px solid; position: absolute; float: right; right: 2px;">
					<div style="width: 100%; border: 1px #FF0000 solid; background-color: red;">
						<span class="fontWhite">&{'validation.failed'}</span>
					</div>
					<br />
					#{errors}
						<span class="fontRed">${error}</span><br />
					#{/errors}
				</div>
				#{/ifErrors}
			</td>
		</tr>
		<tr>
			<td colspan="4">&nbsp;</td>
		</tr>
		<tr>
			<td align="center" colspan="4">
				<a href="@{Fornecedores.show()}" class="fontBrown">&{'form.button.back'}</a>
				<span>|</span>			
				<a href="javascript:resetForm();" class="fontBrown">&{'form.admin.button.clear'}</a>
				<span>|</span>
				<a href="javascript:cadastrar();" class="fontBrown">&{'form.button.next'}</a>
				&nbsp;&nbsp;&nbsp;
			</td>
		</tr>
	</table>
	</div>
	#{/form}
</div>
<script charset="utf-8">
function cadastrar() {
	try {
		var formulario = document.getElementById('formCadastroFornecedor');
		
		formulario.submit();
	
	}catch(e) {
		alert(e);
	}
}

function resetForm() {
	try {
		var formulario = document.getElementById('formCadastroFornecedor');
		
		formulario.reset();
	
	}catch(e) {
		alert(e);
	}
}
</script>
