<div>
	<table width="100%" border="0">
		<tr class="tr1">
			<td align="center" colspan="2">
				<span>&{'form.label.descricao'}</span>
			</td>
			<td align="center">
				<span>&{'form.label.quantidade'}</span>
			</td>
			<td align="center">
				<span>Prioridade</span>
			</td>
			<td align="center">
				<span>&{'form.admin.secao'}</span>
			</td>
		</tr>
		#{list items:listAssinaturaProduto, as:'assinaturaProduto'}
		<tr>
			<td width="12%">
				<img width="50" height="43" src="&{'application.static.content'}&{'application.path.public.images'}${assinaturaProduto.produto.imagemProduto}" 
						title="${assinaturaProduto.produto.descricao}" alt="${assinaturaProduto.produto.descricao}" class="imgBasket" />
			</td>
			<td>
				<span class="fontBlackMainHome">&nbsp;${assinaturaProduto.produto.descricao}</span><br />
			</td>
			<td width="11%" align="center">				
				<span class="fontBlackMainHome">&nbsp;${assinaturaProduto.quantidade}</span><br />
			</td>
			<td width="17%" align="center">
				#{if (assinaturaProduto.opcional)}
					<span class="fontBlackMainHome" style="background-color: #FF0000;">&{'form.cesta.second'}</span><br />
				#{/if}
				#{else}	
					<span class="fontBlackMainHome">Primeira Op&ccedil;&atilde;o</span><br />
				#{/else}
			</td>
			<td width="19%" align="center">
				<span>${assinaturaProduto.produto.secao.descricao}</span>
			</td>
		</tr>
		#{/list}
	</table>
</div>
