#{extends 'Pedidos/menuPedidoCliente.html' /}

<div>
	#{form @Pedidos.atualizarMetodoPagamento(), method:'POST', id:"changePaymentMethodForm"}
	<table width="100%" border="0" cellspacing="4" cellpadding="4">
		<tr>
			<td colspan="100%">&nbsp;
				<input type="hidden" id="pedido.id" name="pedido.id" value="${pedido.id}" />
			</td>
		</tr>
		<tr>
			<td align="left">&{'form.order.alterar.metodoPagamento'} Atual&nbsp;</td>
			<td align="left">
				<span>${formaPagamentoAtual}</span>
			</td>
		</tr>
		<tr>
			<td align="left">&{'form.order.alterar.metodoPagamento'}&nbsp;</td>
			<td align="left">
				#{select 'pedido.pagamento.formaPagamento', items:metodosPagamento, labelProperty:'descricao', class:"fontGreen1"}*
				#{/select}
			</td>
		</tr>
		<tr>
			<td colspan="100%">&nbsp;
			</td>
		</tr>
		<tr>
			<td colspan="100%">&nbsp;
			</td>
		</tr>
		<tr>
			<td colspan="100%" align="right">
				<a href="#" onclick="javascript:document.getElementById('changePaymentMethodForm').submit();" class="fontBrown">&{'form.atualizar'}</a>
			</td>
		</tr>
	</table>
	#{/form}
</div>