<div>
	<table width="100%" border="0">
		<tr class="tr1">
			<td align="center" width="33%">
				<span>&{'form.paypal.info.token'}</span>
			</td>
			<td align="center">
				<span>&{'form.paypal.error'}</span>
			</td>
		</tr>
		<tr>		
			<td>
				<span class="fontBlackMainHome">${pagamento.informacoes}</span>	
			</td>
			<td>
				<span class="fontBlackMainHome">${pagamento.errors.nl2br()}</span>	
			</td>
		</tr>
		<tr>
			<td colspan="100%">&nbsp;</td>
		</tr>
	</table>
</div>