<div style="width: 100%; text-align: center; border: 0px solid; padding: 1px;" class="txt_titulo_05">&{'form.intitucional.link'}</div>

<div class="slider-wrapper theme-bar">
     <div id="slider" class="nivoSlider">
     	<a href="/politica-de-entrega">
			<img src="&{'application.static.content'}/images/banner/00.jpg" data-thumb="&{'application.static.content'}/images/banner/00.jpg" alt="" />
		</a>
		<a href="/produtos/secao/40/Sucos">
			<img src="&{'application.static.content'}/images/banner/03.jpg" data-thumb="&{'application.static.content'}/images/banner/03.jpg" alt="" />
		</a>
     	<a href="/produtos/secao/28/Cestas%20Prontas">
			<img src="&{'application.static.content'}/images/banner/01.jpg" data-thumb="&{'application.static.content'}/images/banner/01.jpg" alt="" />
		</a>
		<a href="/produtos/secao/7/Hortaliças">
			<img src="&{'application.static.content'}/images/banner/02.jpg" data-thumb="&{'application.static.content'}/images/banner/02.jpg" alt="" />
		</a>
		<img src="&{'application.static.content'}/images/banner/05.jpg" data-thumb="&{'application.static.content'}/images/banner/05.jpg" alt="" />
     </div>
</div>

<script type="text/javascript">
$(window).load(function() {
    $('#slider').nivoSlider({
    						animSpeed:1500, //Slide transition speed
       						 pauseTime:9000
       						 });
});
</script>
