<div align="left" style="margin-top: 3px; margin-bottom: 2px; position: relative;">
	<div style="text-align: center; float: left; position: relative;">
		<img alt="IBD" src="&{'application.static.content'}&{'application.path.public.images'}sisorg.png" />
	</div>
	<div style="width: 7%; padding-top: 0px; padding-right: 2px; padding-bottom: 2px; text-align: right; float: left;">
		<span class="txt_titulo_02"><i>Design</i> </span>
	</div>
	<div style="text-align: left; float: left; position: relative;">&{'application.layout.foot.design.sithes'}</div>
	<div style="width: 10%; text-align: center; float: left; position: relative;">
		<a href="&{'application.link.instagram'}" target="_blank" title="Acesse nossa p&aacute;gina no Instagram">
			<img alt="IBD" src="&{'application.static.content'}&{'application.path.public.images'}instagram.png" border="0" />
		</a>
	</div>
	<div style="padding-right: 8px; text-align: center; float: left; position: relative;">
		<a href="&{'application.link.facebook'}" target="_blank" title="Acesse nossa p&aacute;gina no Facebook">
			<img alt="link Facebook" src="&{'application.static.content'}&{'application.path.public.images'}&{'application.btnFacebook'}" 
				width="&{'application.btnFacebook.width'}" height="&{'application.btnFacebook.height'}" border="0" />
		</a>
	</div>
	<div style="float: left;" class="fb-like" data-href="&{'application.link.facebook'}" data-send="true" data-width="560" data-show-faces="false"></div>
</div>
<div style="float:left; width:95%; margin-left: 3%; padding-top: 1%;"><span class="txt_titulo_03"><b>&{'message.secao.navegacao'}</b></span></div>
<div style="float:left; width:95%; margin-left: 3%; padding: 5px; border-top: 1px solid #CCCCCC;">#{vidasaudavel.tag.foot /}</div>