<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="Content-Language" content="pt-br" />
	<meta name="description" content="Vida Saudável Orgânicos, loja online de produtos orgânicos, integrais e naturais." />
	<meta name="abstract" content="Vida Saudável Orgânicos, loja online de produtos orgânicos, integrais e naturais, sem agrotóxicos." />
	<meta name="author" content="Felipe Guerra" />
	<meta name="title" content="Vida Saudável Orgânicos, alimentos e produtos orgânicos - Entregas em São Paulo, Valinhos, Vinhedo, Jundiaí e Campinas" />
	<meta name="keywords" content="frutas orgânicas, comida orgânica, comida pronta orgânica, comida congelada, alimentação saudável, cestas orgânicos, cestas de alimentos orgânicos, alimentos sem agrotóxicos, alimentos naturais, feira orgânica, hortifruti orgânico, alimentos e produtos orgânicos,São Paulo,Campinas,Valinhos,Vinhedo,Jundiaí,Lapa,Pompéia,Vila Leopoldina,São Domingos,Alto de Pinheiros,Pinheiros,Perdizes,Consolação,Bela Vista,Jd. Paulista,Itaim Bibi,Moema,Vila Mariana,Aclimação,Higienópolis,Jaguaré,Butantã,Morumbi,V. Madalena,Alto da Lapa,V. Olímpia,Brooklyn,Saúde,Aeroporto,Paraíso,Jardins,Pirituba,Vila Jaguara,V. Sônia,Campo Belo,Santa Cecília,Ipiranga,Mooca,Cambuci,Liberdade,Jabaquara,V. Romana,Barra Funda" />
	<title>#{get 'title' /}</title>
        <link rel="stylesheet" media="screen" href="&{'application.static.content'}/stylesheets/main.css" />
        <link rel="stylesheet" media="screen" href="&{'application.static.content'}/stylesheets/vidasaudavel.css" />
        <link rel="stylesheet" media="screen" href="&{'application.static.content'}/stylesheets/menu_apycom-13-coral.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="&{'application.static.content'}/stylesheets/thickbox.css" />
		<link rel="stylesheet" type="text/css" media="screen" href="&{'application.static.content'}/stylesheets/MenuMatic.css" />
		<link rel="stylesheet" type="text/css" media="screen" href="&{'application.static.content'}/stylesheets/jquery-ui-1.8.17.custom.css" />
		<link rel="stylesheet" type="text/css" media="screen" href="&{'application.static.content'}/stylesheets/slider/nivo-slider.css" />
		<link rel="stylesheet" type="text/css" media="screen" href="&{'application.static.content'}/stylesheets/slider/style.css" />
		<link rel="stylesheet" type="text/css" media="screen" href="&{'application.static.content'}/stylesheets/slider/bar/bar.css" />
		<link rel="stylesheet" type="text/css" media="screen" href="&{'application.static.content'}/stylesheets/jquery.autocomplete.css" />
		<!--[if lt IE 7]>
			<link rel="stylesheet" href="css/MenuMatic-ie6.css" type="text/css" media="screen" charset="utf-8" />
		<![endif]-->
        #{get 'moreStyles' /}
        <script src="&{'application.static.content'}/javascripts/carrinho.js" type="text/javascript" charset="utf-8"></script>
        <script src="&{'application.static.content'}/javascripts/menu_apycom-13-coral.js" type="text/javascript" charset="utf-8"></script>
        <script src="&{'application.static.content'}/javascripts/jquery_apycom-13-coral.js" type="text/javascript" charset="utf-8"></script>
        <script src="&{'application.static.content'}/javascripts/jquery-1.5.2.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="&{'application.static.content'}/javascripts/jquery.formatCurrency-1.4.0.js" type="text/javascript" charset="utf-8"></script>
        <script src="&{'application.static.content'}/javascripts/thickbox.js" type="text/javascript" charset="utf-8"></script>
		<script src="&{'application.static.content'}/javascripts/jquery-ui-1.8.17.custom.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="&{'application.static.content'}/javascripts/jquery_cookie.js" type="text/javascript" charset="utf-8"></script>
		<script src="&{'application.static.content'}/javascripts/jquery.nivo.slider.js" type="text/javascript" charset="utf-8"></script>
		<script src="&{'application.static.content'}/javascripts/vsorganicos-angular.js" type="text/javascript" charset="utf-8"></script>
        #{get 'moreScripts' /}
        <script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-25975499-1']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
    </head>
	<body class="body">
	<div id="fb-root"></div>
	<script>
		//Realizar request para o script de análise 
		(function() {
			$.gravarAcesso('${session.id}', '${session.usuarioAutenticado}', '${session.email}');
		})();
	
		(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
	<div style="width: 100%;">
		<div style="float:left; width: 10%;">&nbsp;</div>
		<div style="width: 968px; float: left">
		#{include 'menuAdm.html' /}
		<table border="0" cellpadding="0" cellspacing="0" align="center" width="100%">
			<tr>
				<td colspan="100%" valign="top">					
					<table border="0" cellpadding="0" cellspacing="0" align="center" width="967px">
						<tr height="110px">
							<td colspan="100%">
								<div style="width:100%; 
											border-radius: 10px; 
											-moz-border-radius: 10px; 
											-webkit-border-radius: 10px; float: left">
								<table border="0" cellpadding="0" cellspacing="0" align="left">
									<tr>
										<td>
											<a href="@{Home.index()}" class="ancora">
												<img alt="Vida Saudável Orgânicos Logo" src="&{'application.static.content'}&{'application.path.public.images'}logo.jpg" border="0" />
											</a>
										</td>
										<td width="20px" style="background-color:#FFFFFF; color:#FFFFFF;"></td>
										<td>
											<form action="/search" accept-charset="UTF-8" id="searchForm">
											<table border="0" cellpadding="0" cellspacing="0" align="center">
												<tr>
													<td style="padding-left: 10px;" colspan="100%" class="txt_titulo_02" align="left">&{'application.form.find'}</td>
												</tr>
												<tr>
													<td style="padding-left: 10px;">
														<input type="text" id="search" name="search" maxlength="100" value="${name}" />
													</td>
													<td align="center">
														<table border="0" cellpadding="0" cellspacing="0" align="center" width="35px">
															<tr height="18px">
																<td colspan="100%">
																
																	<table border="0" cellpadding="0" cellspacing="0" align="center">
																		<tr>
																			<input type="button" value="Ok" onclick="javascript:pesquisar(document.getElementById('search'))" />
																		</tr>
																	</table>
																 
																</td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
											</form>
										</td>
										<td width="255px">
											<div class="divInputVerde">
												<table border="0" cellpadding="0" cellspacing="0" align="center">
													<tr>
														<td>
															<span id="spnImgCarrinho">
																<img src="&{'application.static.content'}&{'application.path.public.images'}ico_01.jpg" border="0" />
															</span>
														</td>
														<td width="10px"></td>
														<td>
															<table border="0" cellpadding="0" cellspacing="0" align="center" width="131px">
																<tr>
																	<td colspan="100%" class="txt_titulo_02" align="left">
																		<span id="spnCarrinho">&{'form.mybasket'}</span>
																	</td>
																</tr>
																<tr>
																	<td colspan="100%" class="txt_titulo_02" align="left">
																		<span id="valorTotalValue">
																			<label id="vlr" name="vlr">0 produto(s) - R$ 0,00</label>
																		</span>
																	</td>
																</tr>
															</table>
														</td>
													</tr>
												</table>
											</div>
										</td>
										<td align="right">
											<table border="0" cellpadding="0" cellspacing="0" align="right">
												<tr>
													<td colspan="100%" align="right">
														<div class="txt_titulo_02">
											    			#{if (session.get("usuarioAutenticado")==null) }
											    				&nbsp;&nbsp;&nbsp;&nbsp;<span>&{'message.home.doLogin'}</span>
											    			#{/if}
											    			#{else}
											    				&{'message.welcome.user'}<a href='/minhapagina' class='a1' title="&{'message.customer.myPage'}">
											    					<i>${session.get("usuarioAutenticado")}</i>
											    				</a>&nbsp;
											    				<a href="javascript:logoff();" class='a1'>(&{'form.login.leave'})</a>
											    			#{/else}
											    		</div>
													</td>
												</tr>
											</table>
											
										</td>
									</tr>
								</table>
							</div>
							</td>
						</tr>
						#{if (home)}
						<tr>
							<!-- 
							<div class="divQuadroAviso" id="quadroAviso">
								<div style="float: left;width: 94%; text-align: right; padding-top: 3px;">
									<span class="fontBoldWhite" id="txtClose" onclick="javascript:showDiv('quadroAviso')" style="cursor: pointer;">&nbsp;</span>
								</div>
								<div class="divCloseImg" onclick="javascript:showDiv('quadroAviso');">&nbsp;</div>
								<div style="float: left; width: 43%; height: 88%">&nbsp;</div>
								<div style="float: left; width: 19%; height: 18%; 
											line-height: 430px; 
											position: relative; 
											vertical-align: middle;">
									<a href="/politica-de-entrega" class="cliqueQuadro">Clique aqui.</a>
								</div>
							</div>
							 -->
							<td colspan="100%">
								#{include 'banner.html'/}
							</td>
						</tr>
						#{/if}
						#{else}
						<tr>
							<td colspan="100%">&nbsp;</td>
						</tr>
						<tr>
							<td colspan="100%" style="background-color: #DDDDDD;">
								&nbsp;
							</td>
						#{/else}
						</tr>
						${params.home}
						<tr height="12px">
							<td colspan="100%">
								<!-- Início Menu Produtos -->
								#{include 'menu.html'/}
								<!-- Fim Menu Produtos -->
							</td>
						</tr>
					</table>

				</td>
			</tr>
			<tr>
				<td colspan="100%">
					<div id="content" class="homeContent">
					<!-- Início Conteúdo Produtos -->
					#{doLayout /}
					<!-- Fim Conteúdo Produtos -->
					</div>
				</td>
			</tr>
			
			<tr>
				<td>
					<div style="background-color:#DDDDDD; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;">
					<table border="0" cellpadding="0" cellspacing="0" width="967px" align="center">
						<tr height="40px">
							<td align="center" class="txt_titulo_02">
								<img src="&{'application.static.content'}&{'application.path.public.images'}ico_01.jpg" border="0" />
								<span id="spnBasket">&{'form.mybasket'}</span>
								#{if (session.get("usuarioAutenticado")!=null) }
								<span>|</span>
								<a href='/minhapagina' class='a1' title="&{'message.customer.myPage'}">&{'form.admin.mypage.home'}</a>
								#{/if}
							</td>
						</tr>
						<tr height="30px">
							<td align="center" style="letter-spacing: 1px; border-top-width: 1px; border-top-style: dashed;">
								<div class="txt_titulo_04">
									&{'form.intitucional.link'}
								</div>
							</td>
						</tr>
					</table>
					</div>
				</td>
			</tr>
		</table>
		#{include 'foot.html' /}
		<script type="text/javascript" charset="utf-8">
	    	var documento = $("#body");
	    	
	    	try {
	    		if($.cookie("vidasaudavel")==null || $.cookie("vidasaudavel")=="") {
	    			$.cookie("vidasaudavel", '${session.id}', {expires: 1});
	    		}
	    		var idSessao = $.cookie("vidasaudavel");
	    		
	    		documento.ready(loadValorTotal(idSessao));
				
			}catch(e) {
				alert("Erro ao carregar o valor total do carrinho: " + e.description);
			}
			function loadValorTotal(session) {
				$.post('@{Carrinho.valorTotalCompra()}', {sessionId:session}, 
	    			(function(data) {
			    		if(data!=null) {
			    			$("#vlr").text(data);
			    			$("#vlr").formatCurrency({ colorize:true, decimalSymbol:',', digitGroupSymbol:'.' });
			    			$("#vlr").addClass("txt_titulo_02");
			    			adicionarAncora(session);
			    		}	
			    	})
				)
			}
			
			function logoff() {
				window.location = "/logoff/" + $.cookie("vidasaudavel");
			}
    	</script>
    	</div>
    	<div style="float:left; width: 5%;">&nbsp;</div>
    </div>
	</body>
</html>
